Repository kbzowski/ntfier: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, ui-lint

rust-fmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml

rust-clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml --all-targets --all-features -- -D warnings

ui-lint:
  run: pnpm biome check --write --unsafe --staged --no-errors-on-unmatched
  stage_fixed: true

fix(ui): validate URL in image-preview route
  ui/src/routes/image-preview.tsx
Due: ui-lint

chore: import sorting
  src-tauri/src/services/connection_manager.rs
Due: rust-fmt, rust-clippy

fix(ui): reduce spacing between notification messages
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

feat: add favorites feature for notifications
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/2026-02-19-000000_add_favorites/down.sql
  src-tauri/migrations/2026-02-19-000000_add_favorites/up.sql
  src-tauri/src/commands/notifications.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/queries/settings.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/notification.rs
  src-tauri/src/models/settings.rs
  src-tauri/tauri.conf.json
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/AppearanceTab.tsx
  ui/src/components/layout/AppLayout.tsx
  ui/src/components/layout/SidebarTopicList.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationHeader.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/context/AppContext.tsx
  ui/src/data/mock-data.ts
  ui/src/hooks/useNotifications.ts
  ui/src/lib/tauri.ts
  ui/src/routes/index.tsx
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

feat: persist window size and position between sessions
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix(ci): prevent changelog generation failure when no chore commits exist
  .github/workflows/release.yml
Due: none

build(ci): replace bash changelog script with git-cliff
  .github/workflows/release.yml
  cliff.toml
  src-tauri/src/commands/notifications.rs
Due: rust-fmt, rust-clippy

chore: bump version to 1.2.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: respect notification sound setting in Windows enhanced toasts
  src-tauri/src/services/connection_manager.rs
Due: rust-fmt, rust-clippy

chore: sync Cargo.lock with 1.2.0 version bump
  src-tauri/Cargo.lock
Due: none

chore(deps): update Rust dependencies to latest
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/notification.rs
  src-tauri/src/models/server_url.rs
  src-tauri/src/models/subscription.rs
  src-tauri/src/services/connection_manager.rs
  src-tauri/src/services/ntfy_client.rs
  src-tauri/tests/rustls_provider.rs
  ui/src/lib/tauri.ts
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

chore(deps): update UI dependencies to latest
  package.json
  pnpm-lock.yaml
  ui/biome.json
  ui/package.json
  ui/src/components/common/UpdateToast.tsx
  ui/src/components/dialogs/AddSubscriptionDialog.tsx
  ui/src/components/dialogs/ServerConfigForm.tsx
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/AppearanceTab.tsx
  ui/src/components/dialogs/settings/BehaviorTab.tsx
  ui/src/components/dialogs/settings/NotificationsTab.tsx
  ui/src/components/layout/AppLayout.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/SidebarFooter.tsx
  ui/src/components/layout/SidebarTopicItem.tsx
  ui/src/components/layout/SidebarTopicList.tsx
  ui/src/components/notifications/EmptyState.tsx
  ui/src/components/notifications/NotificationActions.tsx
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationHeader.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/components/notifications/PriorityBadge.tsx
  ui/src/components/ui/alert-dialog.tsx
  ui/src/components/ui/card.tsx
  ui/src/components/ui/checkbox.tsx
  ui/src/components/ui/context-menu.tsx
  ui/src/components/ui/dialog.tsx
  ui/src/components/ui/dropdown-menu.tsx
  ui/src/components/ui/error-card.tsx
  ui/src/components/ui/inline-error.tsx
  ui/src/components/ui/radio-group.tsx
  ui/src/components/ui/sheet.tsx
  ui/src/components/ui/tabs.tsx
  ui/src/components/ui/tooltip.tsx
  ui/src/routes/image-preview.tsx
  ui/tsconfig.json
  ui/vite.config.ts
Due: ui-lint

ci: enforce UI typecheck in CI and pre-commit
  .github/workflows/ci.yml
  lefthook.yml
Due: none

chore: drop orphan lockfile and conflicting Node pin
  ui/.prototools
  ui/pnpm-lock.yaml
Due: none

docs: add ignore list design spec
  docs/superpowers/specs/2026-07-15-ignore-list-design.md
Due: none

docs: correct unread count topology in ignore list spec
  docs/superpowers/specs/2026-07-15-ignore-list-design.md
Due: none

docs: add ignore list implementation plan
  docs/superpowers/plans/2026-07-15-ignore-list.md
Due: none

feat: add ignore rule model and matching predicate
  src-tauri/migrations/2026-07-15-000000_add_ignore_rules/down.sql
  src-tauri/migrations/2026-07-15-000000_add_ignore_rules/up.sql
  src-tauri/src/db/models.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/models/ignore_rule.rs
  src-tauri/src/models/mod.rs
Due: rust-fmt, rust-clippy

feat: add ignore rule CRUD commands
  src-tauri/src/commands/ignore_rules.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/queries/ignore_rules.rs
  src-tauri/src/db/queries/mod.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/ignore_rule.rs
  src-tauri/src/models/mod.rs
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

feat: compute ignored flag and suppress toast for ignored messages
  src-tauri/src/db/models.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/models/ignore_rule.rs
  src-tauri/src/models/notification.rs
  src-tauri/src/services/connection_manager.rs
  src-tauri/src/services/sync_service.rs
  ui/src/data/mock-data.ts
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

docs: fix ui typecheck command in plan
  docs/superpowers/plans/2026-07-15-ignore-list.md
Due: none

feat: exclude ignored messages from unread counts
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/queries/subscriptions.rs
Due: rust-fmt, rust-clippy

feat: hold ignore rules in app context
  ui/src/context/AppContext.tsx
  ui/src/lib/tauri.ts
Due: ui-lint

fix: guard ignore rule mutations with isTauri
  ui/src/context/AppContext.tsx
Due: ui-lint

docs: hide ignore list UI outside Tauri
  docs/superpowers/plans/2026-07-15-ignore-list.md
  docs/superpowers/specs/2026-07-15-ignore-list-design.md
Due: none

feat: add ignored rules settings tab
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/IgnoredTab.tsx
  ui/src/components/dialogs/settings/index.ts
Due: ui-lint

fix: toast ignore rule mutation failures
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/context/AppContext.tsx
Due: ui-lint

feat: add ignore similar action and show ignored toggle
  ui/src/components/notifications/IgnoreRuleDialog.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/hooks/useNotifications.ts
Due: ui-lint

fix: reload notification cache after ignore rule changes
  src-tauri/src/commands/ignore_rules.rs
  src-tauri/src/commands/notifications.rs
  ui/src/context/AppContext.tsx
  ui/src/hooks/useNotifications.ts
Due: rust-fmt, rust-clippy, ui-lint

fix: reload all cached topics on ignore rule change
  ui/src/hooks/useNotifications.ts
Due: ui-lint

fix: widen settings dialog to fit five tabs
  ui/src/components/dialogs/SettingsDialog.tsx
Due: ui-lint

fix: keep state updaters pure and fix favorite persistence
  ui/src/context/AppContext.tsx
  ui/src/hooks/useNotifications.ts
Due: ui-lint

fix: label icon buttons and stabilise memo props
  ui/src/components/common/ErrorBoundary.tsx
  ui/src/components/layout/SidebarTopicList.tsx
  ui/src/components/notifications/NotificationHeader.tsx
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

fix: sync latest-value refs in an effect, not during render
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/context/AppContext.tsx
  ui/src/routes/index.tsx
Due: ui-lint

refactor: drop unreferenced files and exports
  ui/src/components/common/ErrorBoundary.tsx
  ui/src/components/ui/inline-error.tsx
  ui/src/components/ui/lazy-image.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useErrorHandler.ts
  ui/src/lib/constants.ts
  ui/src/lib/tauri.ts
  ui/src/themes/index.ts
  ui/src/themes/presets/index.ts
  ui/src/themes/systemPreference.ts
  ui/src/themes/utils.ts
Due: ui-lint

chore: add react-doctor dev dependency
  package.json
  pnpm-lock.yaml
Due: none

chore: release v1.3.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Path conditions:
  rust-fmt: any of: src-tauri/**/*.rs
  rust-clippy: any of: src-tauri/**/*.rs
  ui-lint: any of: ui/src/**/*.{js,jsx,ts,tsx,json,css} and ^ui/
