Repository kbzowski/ntfier: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, ui-lint

rust-fmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml

rust-clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml --all-targets --all-features -- -D warnings

ui-lint:
  run: pnpm biome check --write --unsafe --staged --no-errors-on-unmatched
  stage_fixed: true

chore(deps): move @radix-ui/react-collapsible to ui package
  package.json
  pnpm-lock.yaml
  ui/package.json
Due: none

chore(deps): remove unused @radix-ui/react-avatar
  pnpm-lock.yaml
  ui/package.json
Due: none

chore(deps): remove unused web-vitals
  pnpm-lock.yaml
  ui/package.json
Due: none

chore(deps): remove unused test dependencies
  pnpm-lock.yaml
  ui/package.json
Due: none

feat(ui): add dark rounded background to app icons
  assets/icon.svg
  scripts/gen_icons.py
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/512x512.png
  src-tauri/icons/64x64.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

feat(ui): replace theme grid with compact preview + list selector
  .prototools
  ui/src/components/dialogs/settings/AppearanceTab.tsx
  ui/src/themes/index.ts
  ui/src/themes/presets/index.ts
  ui/src/themes/presets/lavender.ts
  ui/src/themes/presets/mint.ts
  ui/src/themes/presets/sand.ts
  ui/src/themes/presets/sky.ts
Due: ui-lint

perf(bundle): lazy load MarkdownContent to code-split react-markdown
  ui/src/components/notifications/NotificationCard.tsx
Due: ui-lint

perf(bundle): replace barrel imports with direct imports
  ui/src/components/dialogs/ServerConfigForm.tsx
  ui/src/components/ui/lazy-image.tsx
  ui/src/context/AppContext.tsx
  ui/src/themes/index.ts
Due: ui-lint

perf(bundle): lazy load SettingsDialog to code-split settings UI
  ui/src/routes/index.tsx
Due: ui-lint

perf(rerender): memoize AppLayout, SidebarTopicList, and unreadCount
  ui/src/components/layout/AppLayout.tsx
  ui/src/components/layout/SidebarTopicList.tsx
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

perf(rendering): add content-visibility for notification list items
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

perf(js): add reverse index for O(1) notification-to-topic lookup
  ui/src/hooks/useNotifications.ts
Due: ui-lint

perf(js): replace filter().length with counting loops in unread counts
  ui/src/hooks/useNotifications.ts
Due: ui-lint

perf(rerender): fix double getInitialState() call in ThemeProvider
  ui/src/components/common/ThemeProvider.tsx
Due: ui-lint

perf(bundle): replace lucide-react barrel imports with direct path imports
  ui/src/components/common/UpdateToast.tsx
  ui/src/components/dialogs/AddSubscriptionDialog.tsx
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/AppearanceTab.tsx
  ui/src/components/dialogs/settings/NotificationsTab.tsx
  ui/src/components/layout/AppLayout.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/SidebarFooter.tsx
  ui/src/components/layout/SidebarTopicItem.tsx
  ui/src/components/layout/SidebarTopicList.tsx
  ui/src/components/notifications/EmptyState.tsx
  ui/src/components/notifications/NotificationActions.tsx
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationHeader.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/components/ui/checkbox.tsx
  ui/src/components/ui/context-menu.tsx
  ui/src/components/ui/dialog.tsx
  ui/src/components/ui/dropdown-menu.tsx
  ui/src/components/ui/error-card.tsx
  ui/src/components/ui/inline-error.tsx
  ui/src/components/ui/radio-group.tsx
  ui/src/components/ui/sheet.tsx
  ui/src/routes/image-preview.tsx
Due: ui-lint

perf(rerender): memoize ThemeProvider context value and callbacks
  ui/src/components/common/ThemeProvider.tsx
Due: ui-lint

perf(rerender): memoize AppContext provider value object
  ui/src/context/AppContext.tsx
Due: ui-lint

perf(js): deduplicate totalUnread computation and use single-pass loop
  ui/src/components/layout/AppLayout.tsx
  ui/src/components/layout/SidebarTopicList.tsx
Due: ui-lint

fix(storage): add try-catch guards to localStorage theme operations
  ui/src/themes/storage.ts
Due: ui-lint

refactor(js): use toSorted() for immutable notification sorting
  ui/src/hooks/useNotifications.ts
Due: ui-lint

perf(js): use Map index for O(1) theme lookup in getThemeById
  ui/src/themes/presets/index.ts
Due: ui-lint

perf(js): use counting loop for unreadCount in NotificationList
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

perf(js): hoist static ReactMarkdown config to module scope in MarkdownContent
  ui/src/components/notifications/MarkdownContent.tsx
Due: ui-lint

perf(react): pass stable callbacks to SidebarTopicItem to preserve memo
  ui/src/components/layout/SidebarTopicItem.tsx
  ui/src/components/layout/SidebarTopicList.tsx
Due: ui-lint

perf(react): pass stable onExpandedChange callback to NotificationCard
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationList.tsx
Due: ui-lint

perf(react): narrow loadNotifications effect dependency to subscription IDs
  ui/src/context/AppContext.tsx
Due: ui-lint

perf(react): defer currentTopicId read in handleMarkAllAsRead via ref
  ui/src/routes/index.tsx
Due: ui-lint

perf(js): cache localStorage reads for theme preferences
  ui/src/themes/storage.ts
Due: ui-lint

perf(react): stabilize onOpenSettings/onAddSubscription callbacks
  ui/src/routes/index.tsx
Due: ui-lint

perf(react): read previewErrors via ref in handleImageClick callback
  ui/src/components/notifications/NotificationAttachments.tsx
Due: ui-lint

perf(react): memoize Header component
  ui/src/components/layout/Header.tsx
Due: ui-lint

perf(react): extract noop and reuse stable callback for UpdateToast
  ui/src/routes/index.tsx
Due: ui-lint

perf(bundle): replace lucide-react barrel imports with direct path imports
  ui/src/components/dialogs/ServerConfigForm.tsx
  ui/src/components/dialogs/settings/BehaviorTab.tsx
  ui/src/components/notifications/PriorityBadge.tsx
Due: ui-lint

fix(db): remove password column from schema
  src-tauri/migrations/2026-02-01-000000_initial_schema/up.sql
  src-tauri/src/db/connection.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/queries/servers.rs
  src-tauri/src/db/queries/subscriptions.rs
  src-tauri/src/db/schema.rs
Due: rust-fmt, rust-clippy

fix(ws): use url::Url for WebSocket URL building
  src-tauri/src/services/connection_manager.rs
Due: rust-fmt, rust-clippy

fix(error): sanitize Diesel error messages sent to frontend
  src-tauri/src/error.rs
Due: rust-fmt, rust-clippy

refactor(db): extract duplicated subscription SQL to constant
  src-tauri/src/db/queries/subscriptions.rs
Due: rust-fmt, rust-clippy

fix(ui): add rehype-sanitize to prevent XSS in markdown content
  pnpm-lock.yaml
  ui/package.json
  ui/src/components/notifications/MarkdownContent.tsx
Due: ui-lint

fix(db): propagate errors in create_subscription server insert
  src-tauri/src/db/queries/subscriptions.rs
Due: rust-fmt, rust-clippy

fix(security): downgrade credential logging to debug level
  src-tauri/src/services/credential_manager.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: src-tauri/**/*.rs
  rust-clippy: any of: src-tauri/**/*.rs
  ui-lint: any of: ui/src/**/*.{js,jsx,ts,tsx,json,css} and ^ui/
