Repository kbzowski/ntfier: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, ui-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "src-tauri/**/*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml

    rust-clippy:
      glob: "src-tauri/**/*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml --all-targets --all-features -- -D warnings

    ui-lint:
      glob: "ui/src/**/*.{ts,tsx}"
      run: cd ui && pnpm biome check --write {staged_files}
      stage_fixed: true

feat(ui): add reusable components and utilities
  ui/src/components/ui/collapsible.tsx
  ui/src/components/ui/setting-checkbox.tsx
  ui/src/lib/utils.ts
  ui/src/styles.css
Due: ui-lint

feat: add notification expanded state persistence
  src-tauri/src/commands/notifications.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/models/notification.rs
  ui/src/data/mock-data.ts
Due: rust-fmt, rust-clippy, ui-lint

feat(ui): add compact view mode for notifications
  src-tauri/src/db/mod.rs
  src-tauri/src/lib.rs
  ui/src/components/dialogs/settings/AppearanceTab.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/hooks/useNotifications.ts
Due: rust-fmt, rust-clippy, ui-lint

refactor(ui): improve notification components
  ui/src/components/notifications/MarkdownContent.tsx
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/components/notifications/NotificationHeader.tsx
Due: ui-lint

refactor(ui): reorganize BehaviorTab layout
  ui/src/components/dialogs/settings/BehaviorTab.tsx
Due: ui-lint

feat: add notification sound setting
  src-tauri/src/commands/settings.rs
  src-tauri/src/models/settings.rs
  src-tauri/src/services/connection_manager.rs
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/NotificationsTab.tsx
  ui/src/context/AppContext.tsx
  ui/src/lib/tauri.ts
  ui/src/routes/index.tsx
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

chore: update .gitignore with IDE and system files
  .gitignore
Due: none

feat(ui): add LazyImage component for deferred image loading
  ui/src/components/ui/lazy-image.tsx
Due: ui-lint

chore: add red logo variant
  assets/logo_red.png
Due: none

chore: release 0.7.0
  package.json
  src-tauri/tauri.conf.json
Due: none

feat(db): migrate from rusqlite to Diesel ORM
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/diesel.toml
  src-tauri/migrations/2026-02-01-000000_initial_schema/down.sql
  src-tauri/migrations/2026-02-01-000000_initial_schema/up.sql
  src-tauri/src/db/connection.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/queries/mod.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/queries/servers.rs
  src-tauri/src/db/queries/settings.rs
  src-tauri/src/db/queries/subscriptions.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/db/types.rs
  src-tauri/src/error.rs
Due: rust-fmt, rust-clippy

feat(ui): add attachment availability check with unavailable state
  lefthook.yml
  src-tauri/src/commands/settings.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/db/types.rs
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

feat(ui): add image-preview window capability and route
  src-tauri/capabilities/default.json
  ui/src/routeTree.gen.ts
Due: none

feat: hide to system tray on minimize when minimize_to_tray is enabled
  src-tauri/src/lib.rs
  ui/src/components/dialogs/settings/BehaviorTab.tsx
Due: rust-fmt, rust-clippy, ui-lint

chore: update dependencies and add react-collapsible
  package.json
  pnpm-lock.yaml
Due: none

feat(ui): add image preview route component
  ui/src/routes/image-preview.tsx
Due: ui-lint

fix(ui): preserve notification collapse state across app restarts
  ui/src/components/notifications/NotificationList.tsx
  ui/src/context/AppContext.tsx
  ui/src/routes/index.tsx
Due: ui-lint

fix(ui): add comprehensive error handling for image preview window
  src-tauri/capabilities/default.json
  ui/src/components/notifications/NotificationAttachments.tsx
Due: ui-lint

feat(ui): add comprehensive error handling with toast notifications
  pnpm-lock.yaml
  ui/package.json
  ui/src/components/common/ErrorBoundary.tsx
  ui/src/components/dialogs/AddSubscriptionDialog.tsx
  ui/src/components/notifications/NotificationActions.tsx
  ui/src/components/notifications/NotificationAttachments.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/components/ui/error-card.tsx
  ui/src/components/ui/inline-error.tsx
  ui/src/context/AppContext.tsx
  ui/src/hooks/useErrorHandler.ts
  ui/src/hooks/useNotifications.ts
  ui/src/hooks/useServerForm.ts
  ui/src/lib/error-classification.ts
  ui/src/routes/__root.tsx
  ui/src/routes/image-preview.tsx
Due: ui-lint

perf(credentials): add in-memory cache to reduce OS keychain access
  src-tauri/src/services/credential_manager.rs
Due: rust-fmt, rust-clippy

fix(db): enable SQLite foreign key constraints
  src-tauri/src/db/connection.rs
Due: rust-fmt, rust-clippy

fix(db): wrap multi-step operations in transactions
  src-tauri/src/db/queries/servers.rs
  src-tauri/src/db/queries/subscriptions.rs
Due: rust-fmt, rust-clippy

fix(websocket): prevent infinite loop on connection setup failures
  src-tauri/src/services/connection_manager.rs
Due: rust-fmt, rust-clippy

chore(deps): remove unused r2d2 feature from diesel
  src-tauri/Cargo.toml
Due: none

perf(db): optimize N+1 queries in subscription lookups
  src-tauri/src/db/queries/subscriptions.rs
Due: rust-fmt, rust-clippy

perf(websocket): spawn notification display as background task
  src-tauri/src/services/connection_manager.rs
Due: rust-fmt, rust-clippy

fix(db): log JSON parse errors in JsonVec deserialization
  src-tauri/src/db/types.rs
Due: rust-fmt, rust-clippy

refactor(startup): remove unnecessary 100ms sleep
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs(db): document sync Mutex design trade-off in async context
  src-tauri/src/db/connection.rs
Due: rust-fmt, rust-clippy

chore: update Cargo.lock and apply rustfmt formatting
  src-tauri/Cargo.lock
  src-tauri/src/db/queries/servers.rs
Due: rust-fmt, rust-clippy

docs(readme): rewrite feature list and fix formatting
  README.md
Due: none

feat: add notification deletion with optional remote delete and animated UI
  src-tauri/src/commands/notifications.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/queries/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/settings.rs
  src-tauri/src/services/ntfy_client.rs
  ui/src/components/dialogs/SettingsDialog.tsx
  ui/src/components/dialogs/settings/BehaviorTab.tsx
  ui/src/components/notifications/NotificationActions.tsx
  ui/src/components/notifications/NotificationCard.tsx
  ui/src/components/notifications/NotificationHeader.tsx
  ui/src/components/notifications/NotificationList.tsx
  ui/src/components/ui/lazy-image.tsx
  ui/src/context/AppContext.tsx
  ui/src/lib/tauri.ts
  ui/src/routes/index.tsx
  ui/src/styles.css
  ui/src/types/bindings.ts
Due: rust-fmt, rust-clippy, ui-lint

feat: auto-mark notifications as read for muted topics
  src-tauri/src/commands/settings.rs
  src-tauri/src/db/queries/notifications.rs
  src-tauri/src/db/queries/subscriptions.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/connection_manager.rs
  src-tauri/src/services/sync_service.rs
Due: rust-fmt, rust-clippy

refactor: add granular settings queries to avoid unnecessary credential lookups
  src-tauri/src/commands/notifications.rs
  src-tauri/src/db/queries/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/settings.rs
  src-tauri/src/services/connection_manager.rs
  ui/src/components/ui/context-menu.tsx
Due: rust-fmt, rust-clippy, ui-lint

feat: add context menu with copy title/content to notification cards
  pnpm-lock.yaml
  ui/package.json
  ui/src/components/notifications/NotificationCard.tsx
Due: ui-lint

fix: resolve unused variable lint warnings and enable unsafe biome fixes
  lefthook.yml
  ui/src/components/notifications/NotificationCard.tsx
Due: ui-lint

refactor: simplify release changelog to use git log and gh CLI
  .github/cliff.toml
  .github/workflows/release.yml
Due: none

feat: regenerate all app and tray icons from new logos
  assets/logo.png
  assets/logo.svg
  assets/logo_red.png
  assets/logo_red.svg
  assets/tray_icon.svg
  assets/tray_icon_red.svg
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/512x512.png
  src-tauri/icons/64x64.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/icons/tray-unread.png
  src-tauri/icons/tray.png
Due: none

chore: bump version to 1.0.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

chore: remove CHANGELOG.md and update script reference
  CHANGELOG.md
  scripts/generate-update-json.js
Due: none
